annotated-types==0.8.0
anyio==4.15.1
asgiref==3.11.1
asn1crypto==1.5.1
certifi==2026.7.22
cffi==2.1.1
cryptography==50.0.1
deprecation==2.1.0
Django==6.0.6
gunicorn==26.0.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.19
Markdown==3.10.2
multidict==6.8.0
packaging==26.2
pg8000==1.31.5
postgrest==2.31.0
propcache==0.5.2
psycopg==3.2.13
psycopg-binary==3.2.13
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.20.0
PyJWT==2.14.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
realtime==2.31.0
scramp==1.4.17
six==1.17.0
sqlparse==0.5.5
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
testing.common.database==2.0.3
typing-inspection==0.4.4
typing_extensions==4.16.0
websockets==15.0.1
whitenoise==6.12.0
yarl==1.24.5
