<article id="{{ project.slug }}" class="docs-project" data-project="{{ project.slug }}">
    <header class="docs-project-header">
        <h2 class="docs-project-title">
            <a href="/#{{ section_id }}#{{ project.slug }}" class="heading-anchor-link">{{ project.title }}</a>
        </h2>
        {% if project.description %}
            <p class="docs-project-lead">{{ project.description }}</p>
        {% endif %}
        {% if project.stack %}
            <p class="docs-project-stack">
                {% for item in project.stack %}
                    <code class="docs-tag">{{ item }}</code>
                {% endfor %}
            </p>
        {% endif %}
    </header>
    <div class="markdown-body">{{ project.html|safe }}</div>
</article>
