{% extends 'core/docs_layout.html' %}

{% block docs_content %}
<div class="portfolio-page">
    {% include 'partials/portfolio_intro.html' %}

    {% for section in site.sections %}
        {% if section.id == "opensource" %}
            {% include 'partials/section_projects.html' with section=section projects=site.opensource_projects eyebrow="Open Source" section_kind="opensource" %}
        {% elif section.id == "infrastructure" %}
            {% include 'partials/section_infrastructure.html' with section=section public_projects=site.public_infrastructure_projects personal_projects=site.personal_infrastructure_projects %}
        {% elif section.id == "experience" %}
            {% include 'partials/section_experience.html' %}
        {% elif section.id == "skills" %}
            {% include 'partials/section_skills.html' %}
        {% elif section.id == "uses" %}
            {% include 'partials/section_uses.html' with section=section %}
        {% elif section.id == "contact" %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
